* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.container {
    display: grid;
    grid-area: 1fr 1fr / 1fr 1fr 1fr;
    gap: 1em;
}

header {

}

.sidebar {

}

nav {

}

article {


}

footer {
    background-color: gray;
    color: white;
    gri 
}